/.idea/libraries
/.idea/modules.xml
config.properties

# Default ignored files
/shelf/
/workspace.xml
.idea/libraries/lib.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/libraries/
/.idea/

/target
/target/classes/util/HeatMapRouter.class
